@using UserLogin.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Post Garage Sale</title>

    <script>
        $(document).ready(function () {
            $('#postFormUpgrade').submit(function (event) {
                event.preventDefault();
                let StreetNumber = document.getElementById("StreetNumberUpgrade").value;
                let StreetName = document.getElementById("StreetNameUpgrade").value;
                let City = document.getElementById("CityUpgrade").value;
                let State = document.getElementById("StateUpgrade").value;
                let Zipcode = document.getElementById("ZipcodeUpgrade").value;
                @* console.log("address", StreetNumber, StreetName, City, State, Zipcode) *@
                var jsonData = {
                    streetnumber: StreetNumber,
                    streetname: StreetName,
                    city: City,
                    state: State,
                    zipcode: Zipcode,
                }
                console.log("jsonData:", jsonData);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpgradeUserHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatusUpgrade,
                    error: ErrorStatusUpgrade,
                    complete: CompleteStatusUpgrade
                })
            })
            const SuccessStatusUpgrade = (result) => {
                console.log("You have sucessfuly upgraded...", result);
                LoadData();
                location.reload();
            };
            const ErrorStatusUpgrade = (xhr, status, strErr) => {
                console.log("There was an error when upgrading!");
            };
            const CompleteStatusUpgrade = (xhr, status) => {
                console.log("Upgaded has completed...");
            };
            $('#postForm').submit(function (event) {
                event.preventDefault();

                let startDate = $('#StartDate').val()
                console.log("Start date:", startDate)

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })
            $('#OneDayAfterForm').submit(function (event) {
                event.preventDefault();

                document.querySelector("#OneDayAfterForm").style.marginLeft = "-100%";
                document.getElementById("OneDayAfterForm").style.transform = "smooth";
                document.getElementById("OneDayAfterForm").style.transition = "1s";


                let startDate = $('#1DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })



            })

            $('#TwoDaysAfterForm').submit(function (event) {
                event.preventDefault();

                document.querySelector("#TwoDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("TwoDaysAfterForm").style.transform = "smooth";
                document.getElementById("TwoDaysAfterForm").style.transition = "1s";

                let startDate = $('#2DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })

            $('#ThreeDaysAfterForm').submit(function (event) {
                event.preventDefault();

                document.querySelector("#ThreeDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("ThreeDaysAfterForm").style.transform = "smooth";
                document.getElementById("ThreeDaysAfterForm").style.transition = "1s";

                let startDate = $('#3DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })

            $('#FourDaysAfterForm').submit(function (event) {
                event.preventDefault();
                document.querySelector("#FourDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("FourDaysAfterForm").style.transform = "smooth";
                document.getElementById("FourDaysAfterForm").style.transition = "1s";

                let startDate = $('#4DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })
            $('#FiveDaysAfterForm').submit(function (event) {
                event.preventDefault();
                document.querySelector("#FiveDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("FiveDaysAfterForm").style.transform = "smooth";
                document.getElementById("FiveDaysAfterForm").style.transition = "1s";

                let startDate = $('#5DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })

            $('#SixDaysAfterForm').submit(function (event) {
                event.preventDefault();
                document.querySelector("#SixDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("SixDaysAfterForm").style.transform = "smooth";
                document.getElementById("SixDaysAfterForm").style.transition = "1s";

                let startDate = $('#6DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })
            $('#SevenDaysAfterForm').submit(function (event) {
                event.preventDefault();
                document.querySelector("#SevenDaysAfterForm").style.marginLeft = "-100%";
                document.getElementById("SevenDaysAfterForm").style.transform = "smooth";
                document.getElementById("SevenDaysAfterForm").style.transition = "1s";

                let startDate = $('#7DayFromDateSelected').val()

                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()
                let description = $('#Description').val()
                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()

                console.log(startDate);

                var jsonData = {
                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,
                    description: description,
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })
            })
            const SuccessStatus = (result) => {
                console.log("Success...", result);
                $('#userPostsList').load("/displayUserGarageSales #userPostsList", data => {
                    data = JSON.parse(data);
                    RenderUserPost(data);
                });
                LoadData();
                document.querySelector("#multiDayPost").style.display = "grid"
                document.querySelector("#NewPostForm").style.display = "none"
                document.querySelector("#PostSaleTitle1").innerText = "Your sale is now listed. Would you like to list your sale on other dates?"




            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error!");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Ajax has completed...");
            };
            const LoadData = () => {
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);
                    RenderData(data);
                });
            };
            const LoadUserPost = () => {
                alert("button was click");
                $('#userPostsList').load("/displayGarageSales #userPostsList", data => {
                    data = JSON.parse(data);
                    RenderData(data);
                });
            };
            const RenderData = (data) => {
                $.each(data.data, function (i, v) {
                    @* console.log(v) *@
                        const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };
                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);
                    let checkDate = new Date(v.startDate);
                    let checkToday = new Date();
                    checkToday.setDate(checkToday.getDate() - 1);

                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                    } else {
                        $(`<li id="${garageItemId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>
                              <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <p>${v.description}</p>
                            </footer>
                            <main>
                                <a href="http://maps.google.com/?q=${v.streetNumber} ${v.streetName}, ${v.state}, ${v.zipcode}" target="blank"><button>Directions</button></a>
                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#garageSaleList");
                    }
                });
            };
            const RenderUserPost = (data) => {
                $.each(data.data, function (i, v) {
                    @* console.log(v) *@
                        const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };
                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);
                    let garageItemId = v.garageSaleId;
                    $(`<li id="${garageItemId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>
                              <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <p>${v.description}</p>
                            </footer>
                            <main>
                                 <a><button id="${garageItemId}" onclick="DeleteSaleHandler(event)">Delete</button></a>
                                @* <p>Edit</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#userPostsList");
                });
            };
        })
    </script>
</head>

<body>

    <div class="postSale-container" id="postSalePartial">
        <button onclick="postSalePartialHandler(event)"> &lt; back</button>

        @if (Model.AccountType == AccountType.Seller)
        {
            <header>
                <img src="~/img/Assets/@ViewBag.ToDisplay.ProfilePic" alt="" onclick="profile()">
                <h2>@ViewBag.ToDisplay.FirstName</h2>
            </header>



            <div class="form-postContainer" id="NewPostForm">
                <form id="postForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <header>
                        <h2 class="span2Columns">Date & Time:</h2>
                        <input class="span2Columns" id="StartDate" type="date" onchange="DateSelectedHandler(event)">


                        <label>Start Time:</label>
                        <input id="StartTime" type="time">
                        <label>End Time:</label>
                        <input id="EndTime" type="time">
                    </header>
                    <main>
                        <h2>Description:</h2>
                        <textarea id="Description" placeholder="describe what you have for sale."
                        maxlength="250"></textarea>
                        <h2>Location:</h2>
                        <div class="locationHeader">
                            <input id='StreetNumber' type='text' placeholder='street #:'>
                            <input id='StreetName' type='text' placeholder='Street Name: '>
                        </div>
                        <div class="locationFooter">
                            <input id='City' type='text' placeholder='City:'>
                            <input id='State' type='text' placeholder='State:'>
                            <input id='Zipcode' type='text' placeholder='zipecode: '>
                        </div>
                    </main>

                    <button type="submit" id="submitForm">Post Sale</button>

                    @* <input type="submit" value="Post Sale"> *@
                </form>


            </div>


            <div id="multiDayPost">
                <p id="PostSaleTitle1"></p>

                <header id="ListSaleDate">

                    <main>
                        <button onclick="PostToOtherDates(event)">Yes</button>
                        <button onclick="PostToOtherDates(event)">No, thank you</button>
                    </main>
                </header>


                <form id="OneDayAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="1DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="TwoDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="2DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="ThreeDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="3DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="FourDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="4DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="FiveDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="5DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="SixDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="6DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <form id="SevenDaysAfterForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <button type="submit" id="submitForm">+</button>
                    <input id="7DayFromDateSelected" type="text" disabled>

                    @* <input type="submit" value="Post Sale"> *@
                </form>

                <button onclick="PostToOtherDates(event)">Done</button>



            </div>


            <partial name="_userSales" />

            <footer>
                <img src="img/Assets/logoGray.png" alt="">
                <p>v1.0</p>
            </footer>
        }
        @if (Model.AccountType == AccountType.Buyer)
        {
            <section class="upgrade-container">
                <button onclick="popUpNoticeHandler(event)">Upgrade Account</button>
                <p class="span2Columns">Upgrade to a FREE seller account and start posting garage sales.</p>

            </section>

            <aside class="notice-container" id="upgradeNotice">
                <form id="postFormUpgrade">
                    <header>
                        <p>Upgrading.</p>
                        <p>Please add your address for posting garage sales.</p>

                        <main id="noticeForm">

                        </main>
                    </header>

                    <footer>
                        <button type="button" onclick="popUpNoticeHandler(event)">Cancel</button>
                        <button>Upgrade</button>
                    </footer>
                </form>
            </aside>
        }
    </div>
</body>

</html>